[serverless-mybot]
region_name = us-east-1
aws_access_key_id = XXXXXXXXXXXXXXXXXXXX
aws_secret_access_key = XxxXXxxXXxXxXxXxXXXXxXxXXXXXxxxxxXxxXXXX
mybot_table = mybot-dev-DynamoDbTableChats-XXXXXXXXXXXXX
telegram_bot_token = XXXXXXXXX:XXXXXXX_XXXxxxXXxXxXXXX_XxXXxXXxXXX
telegram_master = makukha
